<div id="navcontainer">
<ul id="navlist">
	<li><%= link_to "Search Scenarios", scenarios_url%></li>
<% if logged_in? -%>
	<li><%= link_to "My Features", user_features_url(current_user )%></li>
	<li><%= link_to "My Account", user_url(current_user) %></li>
	<li id="logout"><%= link_to "Log out", logout_path, { :title => "Log out" } %></li>
<% else -%>
  <li><%= link_to "Log in",  login_path,  { :title => "Log in" } %></li>
  <li><%= link_to "Sign up", signup_path, { :title => "Create an account" } %></li>
<% end -%>
</ul>
<div class="clear"></div>
</div>