<h1>Sign up as a new user</h1>

<% form_for :user, :url => users_path do |f| -%>
<%= f.error_messages %>
<dl>
<dt><%= f.label :login %></dt>
<dd><%= f.text_field :login %></dd>

<dt><%= f.label :email %></dt>
<dd><%= f.text_field :email %></dd>

<dt><%= f.label :password %></dt>
<dd><%= f.password_field :password %></dd>

<dt><%= f.label :password_confirmation, 'Confirm Password' %></dt>
<dd><%= f.password_field :password_confirmation %></dd>

<dt></dt>
<dd><%= f.submit 'Sign up' %></dd>
</dl>
<div class="clear"></div>
<% end -%>