<% title "Reset your Password" %>
<%= error_messages_for :user %>
<% form_tag update_password_url do %>
  <%= hidden_field_tag :reset_token, @user.reset_token %>
	<dl>
  	<dt><%= label_tag :password %></dt>
  	<dd><%= password_field_tag :password %></dd>
  	<dt><%= label_tag :password_confirmation %></dt>
  	<dd><%= password_field_tag :password_confirmation %></dd>
  	<dt></dt>
		<dd><%= submit_tag "Save" %></dd>
	</dl
	<div class="clear"></div>
<% end %>