<li><%= f.label :title%><%= f.text_field :title %></li>
<li><%= f.label :feature_id %><%= f.select :feature_id, current_user.features_for_select %></li>
<li><%= f.label :body %><%= f.text_field :body %></li>