<% title "Feature: #{@feature.title}"%>

<pre class="brush: cuke"><%= h(@feature.body) %></pre>
<% if @feature.scenarios.empty? %>
	<p>
		You don't have any scenarios set for this feature. <%= link_to "Add your own", new_user_feature_scenario_url(@user, @feature) %> or <%= link_to 'Search', scenarios_url %>.
	</p>
<% else %>
	<table>
		<thead>
			<tr>
				<th>Title</th>
				<th>Body</th>
				<th>Actions</th>
			</tr>
		</thead>
		<tbody>
			<% @feature.scenarios.each do |scenario| %>
				<tr>
					<td><%= scenario.title %></td>
					<td><pre class="brush: cuke"><%= h(scenario.body) %></pre></td>
					<td>
					<%= link_to 'Show', user_feature_scenario_url(@user, @feature, scenario) %> 
							<% if logged_in? && current_user == @user %>
							|
							<%= link_to 'Edit', edit_user_feature_scenario_url(@user, @feature, scenario) %> |
							<%= link_to 'Destroy', user_feature_scenario_url(@user, @feature, scenario), :method => :delete, :confirm => 'Are you sure?'%>
							<% end %>
					</td>
				</tr>
			<% end %>
		</tbody>
	</table>
<% end %>
<% if logged_in? && current_user == @user %>
<div id="links">
	<%= link_to 'Edit this feature', edit_user_feature_url(@user, @feature)%>, <%= link_to 'Add a new Scenario', new_user_feature_scenario_url(@user, @feature) %> or <%= link_to 'View all Features', user_features_url(@user)%>
</div>
<% end %>
