<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
		<meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
    <title>CannedCukes - <%= h(yield(:title) || "Share your Features") %></title>
		<%= javascript_include_tag 'shCore', 'shCucumber'%>
    <%= stylesheet_link_tag 'shCore', 'shThemeDefault', 'application' %>
    <%= yield(:head) %>
		<script type="text/javascript">
			SyntaxHighlighter.defaults['gutter'] = false;
			SyntaxHighlighter.defaults['wrap-lines'] = false;
			SyntaxHighlighter.all();
		</script>
  </head>
  <body>
		<%= render :partial => 'users/user_bar'%>
		<%- flash.each do |name, msg| -%>
      <%= content_tag :div, msg, :class => 'flash', :id => "flash_#{name}" %>
    <%- end -%>
    <div id="container">
      <%- if show_title? -%>
        <h1><%=h yield(:title) %></h1>
      <%- end -%>
      
      <%= yield %>
    </div>
		<div id="footer">
			<p>
			CannedCukes was created by <a href="http://blog.eizesus.com">Elad Meidar</a> and the <a href="http://railsbridge.org">RailsBridge</a> Community. Logo and name by Confounds.
			</p>
			<p>
				Wanna help? <a href="http://github.com/eladmeidar/CannedCukes">Fork and join us!</a>, you can simply <a href="http://twitter.com/cannedcukes">follow us</a> on twitter to get new scenarios as they come out!.
			</p>
		</div>
		<script type="text/javascript">
		  var uservoiceOptions = {
		    key: 'cannedcukes',
		    host: 'cannedcukes.uservoice.com', 
		    forum: '49901',
		    alignment: 'left',
		    background_color:'#f00', 
		    text_color: 'white',
		    hover_color: '#06c',
		    lang: 'en',
		    showTab: true
		  };
		  function _loadUserVoice() {
		    var s = document.createElement('script');
		    s.src = ("https:" == document.location.protocol ? "https://" : "http://") + "uservoice.com/javascripts/widgets/tab.js";
		    document.getElementsByTagName('head')[0].appendChild(s);
		  }
		  _loadSuper = window.onload;
		  window.onload = (typeof window.onload != 'function') ? _loadUserVoice : function() { _loadSuper(); _loadUserVoice(); };
		</script>
	
  </body>

</html>
